<!doctype html>
<html ng-app>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script src="ToDoCtrl.js"></script>
  <body ng-controller="ToDoCtrl">
    <form ng-submit="add()">
        <input required type="text" ng-model="current" />
        <input type="submit" value="Add" />
    </form>
    <ul>
      <li ng-repeat="todo in todos">
        <button ng-click="delete($index)">x</button>
        <span>{{todo}}</span>
      </li>
    </ul>
  </body>
</html>
