{{ 31123123 | formatNumber }}  <!-- 31,123,123 -->
{{ 33199220 | formatNumber: '.' }}  <!-- 33.199.220 -->
{{ number | formatNumber: ',' }}
<span ng-bind="331988909 | formatNumber"></span>  <!-- 331,988,909 -->
<span ng-bind="331988909 | formatNumber: ' '"></span>  <!-- 331 988 909 -->