<span my-dir="exp"></span>
<span x-my-dir="exp"></span>
<span data-my-dir="exp"></span>
<span my:dir="exp"></span>
<span my_dir="exp"></span>
<span class="my-dir: exp;"></span>
<my-dir></my-dir>
<!-- directive: my-dir exp -->