<style>
input {
    outline: none;
}
input.ng-dirty.ng-invalid {
    border: 1px solid red;
}
</style>
<div ng-app>
  <form name="myForm" novalidate>
    Email: <input type="email" name="email" ng-model="user.email" required /><br />
    Password: <input type="password" name="password" required ng-minlength="5" ng-model="user.password" />
    <br />
    <input type="submit" value="Submit"/>
  </form>
</div>