<div ng-app>
  <form name="myForm" novalidate>
    <div ng-show="!myForm.email.$pristine && myForm.email.$error.required">The email is required</div>
    <div ng-show="myForm.email.$error.email">Invalid email</div>
    Email: <input type="email" name="email" ng-model="user.email" required /><br />
    <div ng-show="!myForm.password.$pristine && myForm.password.$error.required">The password is required</div>
    <div ng-show="myForm.password.$error.minlength">The password should be at least 5 symbols</div>
    Password: <input type="password" name="password" required ng-minlength="5" ng-model="user.password" />
    <br />
    <input type="submit" value="Submit"/>
  </form>
</div>