.red, .blue {
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.left {
  float: left;
}

.right {
  float: right;
}