<section>
	<section>
		<h2>Bower</h2>
		<p>Often task is resolving project dependencies dynamically. It is not needed to have all your dependencies in your repository.</p>
		<p>In Java you can use Maven Dependency plugin, in Node.js you can use <code>npm</code>.</p>
		<p><p>Bower</p> is the package management system for the web!</p>
	</section>
	<section>
		<h2>Bower initialization</h2>
		<p>For initializing bower for your project you need:</p>
		<pre><code>
	#if you haven't already installed bower
	npm install -g bower

	#create bower.json
	bower init
		</code></pre>
	</section>
	<section>
		<h2>Bower configuration</h2>
		<pre><code>
{
  "name": "Math-BrowniePoints-WebApp",
  "version": "0.1.0",
  "homepage": "https://github.com/Brownie-Points/Math-BrowniePoints-WebApp",
  "authors": [
  ],
  "description": "Brownie Points math Web App",
  "private": true,
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "dependencies": {
    "angularjs": "https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js",
    "angular-ui-router": "0.2.0",
    "jcrop": "0.9.12",
    "jquery": "2.0.0",
    "jquery-ui": "1.10.3",
  }
}

		</code></pre>
	</section>
	<section>
		<h2>Bower configuration</h2>
		<p>All you need to take care of is the list of dependencies.</p>
		<p>You can specify version of given dependency, range of versions or just say <code>newest</code> for the last version.</p>
	</section>
	<section>
		<h2>Bower dependencies</h2>
		<p>After running:</p>
		<pre><code>
	bower install
		</code></pre>
		<p>all your dependencies are going to be resolved. They are downloaded in the folder <code>bower_components</code> in the root of your bower project.</p>
	</section>
	<section>
		<h2>Bower customization</h2>
		<p>You can customize some of the default settings of bower by creating <code>.bowerrc</code>. The settings you can change with <code>.bowerrc</code> are pretty limited.</p>
		<p>For further customization you can use the grunt bower plugin.</p>
	</section>
</section>