<section>
	<section>
		<h3>Code organization</h3>
		<p>JavaScript projects give the wrong feeling to the developer that he should develop them in a single file. This leads to slower navigation inside the source code and increase the complexity.</p>
		<p><strong>Put each component into different file.</strong></p>
	</section>
	<section>
		<h3>Module architecture</h3>
		<p>In the module architecture put each module in different file. Put the initialization code in different file.</p>
		<pre><code>
   js
   ├── libs
   └── plainvm
       ├── core.js
       ├── init.js
       ├── layout
       │   ├── index_side_panel_structure.js
       │   ├── install_wizard.js
       │   └── main_content_structure.js
       ├── system
       │   ├── connection_handler.js
       │   ├── install_vm.js
       │   └── remote_command_bridge.js
       └── ui
           ├── install_wizard.js
           ├── preloader.js
           ├── vm_control.js
           ├── vm_details.js
           ├── vm_settings.js
           ├── vm_statistics.js
           ├── vm_status_pic.js
           └── vms_list.js
		</code></pre>
	</section>
	<section>
		<h3>MV* frameworks</h3>
		<p>In the different frameworks there are two main approaches:</p>
		<ul>
			<li>Group by component type (and second level functionality)</li>
			<li>Group by functionality (and second level by component type)</li>
		</ul>
	</section>
	<section>
		<h3>MV* frameworks - component types</h3>
		<pre><code>
├── app
│   ├── app.js
│   ├── controllers
│   │   ├── page1
│   │   │   ├── FirstCtrl.js
│   │   │   └── SecondCtrl.js
│   │   └── page2
│   │       └── ThirdCtrl.js
│   ├── directives
│   │   ├── page1
│   │   │   └── directive1.js
│   │   └── page2
│   │       ├── directive2.js
│   │       └── directive3.js
│   ├── filters
│   │   ├── page1
│   │   └── page2
│   └── services
│       ├── CommonService.js
│       ├── cache
│       │   ├── Cache1.js
│       │   └── Cache2.js
│       └── models
│           ├── Model1.js
│           └── Model2.js
├── lib
└── test
		</code></pre>
	</section>
	<section>
		<h3>MV* frameworks - functionality</h3>
		<pre><code>
├── app
│   ├── app.js
│   ├── common
│   │   ├── controllers
│   │   ├── directives
│   │   ├── filters
│   │   └── services
│   ├── page1
│   │   ├── controllers
│   │   │   ├── FirstCtrl.js
│   │   │   └── SecondCtrl.js
│   │   ├── directives
│   │   │   └── directive1.js
│   │   ├── filters
│   │   │   ├── filter1.js
│   │   │   └── filter2.js
│   │   └── services
│   │       ├── service1.js
│   │       └── service2.js
│   └── page2
│       ├── controllers
│       │   └── ThirdCtrl.js
│       ├── directives
│       │   ├── directive2.js
│       │   └── directive3.js
│       ├── filters
│       │   └── filter3.js
│       └── services
│           └── service3.js
├── lib
└── test
		</code></pre>
	</section>
</section>