<section>
	<section>
		<h3>Compute performance profiling</h3>
		<p>Slow computations in your application can cause even worse user expereience than application which loads slow.</p>
		<p>There are good profiling tools in:</p>
		<ul>
			<li>Chrome Dev Tools</li>
			<li>Firebug</li>
			<li>Firefox Dev Tools</li>
			<li>Dragon Fire</li>
			<li>IE</li>
		</ul>
	</section>
	<section>
		<h3>Chrome Dev Tools Profiler</h3>
		<img src="images/cpu-profiler.png" alt="">
	</section>
	<section>
		<h2>Profiling the compute performance (demo)</h2>
	</section>
	<section>
		<h3>Memory profiler</h3>
		<p>If there are many memory leaks in your application this may slow it down or even crash the browser (demo AngularJS Docs)</p>
		<img src="./images/memory-profiling.png" alt="">
	</section>
	<section>
		<h3>Memory leaks</h3>
		<p>In JavaScript there are few common causes of memory leaks:</p>
		<ul>
			<li>Closures</li>
			<li>DOM</li>
			<li>Application specific...</li>
		</ul>
	</section>
	<section>
		<h3>Timeline</h3>
		<img src="images/chrome-timeline.jpg" alt="">
	</section>
	<section>
		<h3>Timeline</h3>
		<p>Timeline shows the memory usage during given time interval.</p>
		<p>It also shows the different frames, you can improve your computational performance this way.</p>
	</section>
	<section>
		<h2>Timeline (<a href="http://debuggingmemoryleaks.eu01.aws.af.cm/example/1" target="blank">Demo</a>, <a href="http://debuggingmemoryleaks.eu01.aws.af.cm/example/2" target="blank">Demo</a>, <a href="http://debuggingmemoryleaks.eu01.aws.af.cm/example/3" target="blank">Demo</a> and <a href="http://debuggingmemoryleaks.eu01.aws.af.cm/example/4" target="_blank">Demo</a>)</h2>
	</section>
	<section>
		<h3>Heap snapshot</h3>
		<p>Using the heap snapshot you can see the memory usage between two moments. You can compare the usage and see what objects have leaked.</p>
		<p>You can see the element types but sometimes it is hard to find the exact place where they have been created. For such cases you can wrap their constructor and using <code>Error</code> object to see the whole stack trace.</p>
	</section>
</section>