<section>
	<section>
		<h2>Debugging</h2>
		<p>You can debug JavaScript in almost each browser. Including even mobile web browsers.</p>
		<p>Most advanced debugging tools have:</p>
		<ul>
			<li>Google Chrome - Chrome Dev Tools</li>
			<li>Firefox - Firebug or Firefox Development Tools</li>
			<li>Safari - Development tools which are similar to Chrome Dev Tools but less powerful</li>
			<li>Opera - Dragonfire</li>
			<li>Internet Explorer</li>
		</ul>
	</section>
	<section>
		<h1>Debugging demo</h1>
	</section>
	<section>
		<h3>Debugging in Chrome for Android</h3>
		<img src="images/android.jpg" alt="">
	</section>
	<section>
		<h3>Debugging in Chrome for Android</h3>
		<p>When you enable the debugging via USB you need:</p>
		<ul>
			<li>Chrome for Android 28+</li>
			<li>ADB Chrome extension installed on your development machine</li>
		</ul>
		<p>After that run:</p>
		<pre><code>
	adb forward tcp:9222 localabstract:chrome_devtools_remote
		</code></pre>
		<p>and open: <a href="http://localhost:9222/">localhost:9222</a></p>
	</section>
	<section>
		<h2>Debugging in Chrome for Android</h2>
	</section>
	<section>
		<h2>Debugging mobile</h2>
		<p>For debugging in other mobile browsers check:</p>
		<ul>
			<li>about:debug in the default Android browser</li>
			<li><a href="https://github.com/lexandera/Aardwolf">Aardwolf</a></li>
			<li><a href="https://hacks.mozilla.org/2012/08/remote-debugging-on-firefox-for-android/">Remote Debugging on Firefox for Android</a></li>
			<li><a href="http://moduscreate.com/enable-remote-web-inspector-in-ios-6/">Safari on iOS</a></li>
			<li><a href="https://developers.google.com/chrome/mobile/docs/debugging">Chrome (any OS)</a></li>
		</ul>
	</section>
</section>