<section>
	<section>
		<h3>Overview of JS alternatives</h3>
		<ul>
			<li>CoffeeScript - minimalistic, ruby like</li>
			<li>JSX - statically typed, similar to JS</li>
			<li>Dart - optional types</li>
			<li><a href="http://altjs.org/"></a>Many others...</a></li>
		</ul>
	</section>
	<section>
		<h3>CoffeeScript</h3>
		<ul>
			<li>Has classes</li>
			<li>Has single way to implement inheritance</li>
			<li>Eliminates some of the defects in JavaScript</li>
			<li>Ruby-like, fun</li>
		</ul>
	</section>
	<section>
		<h3>CoffeeScript example</h3>
		<pre><code>
class Animal
    constructor : (@species, @isMammal=false) ->
 
class Dog extends Animal
    constructor : (@name) ->
        super ("canine",true)
 
    toString : ->
        "#{@name} is a #{@species}."
		</code></pre>
	</section>
	<section>
		<p>The CoffeeScript transpiler turns CoffeeScript code to well written, readable JavaScript</p>
		<pre><code>
(function() {
  var Animal, Dog,
    __hasProp = Object.prototype.hasOwnProperty,
    __extends = function(child, parent) { for (var key in parent) { if (__hasProp.call(parent, key)) child[key] = parent[key]; } function ctor() { this.constructor = child; } ctor.prototype = parent.prototype; child.prototype = new ctor; child.__super__ = parent.prototype; return child; };
 
  Animal = (function() {
 
    function Animal(species, isMammal) {
      this.species = species;
      this.isMammal = isMammal != null ? isMammal : false;
      return this;
    }
 
    return Animal;
 
  })();
 
  Dog = (function(_super) {
 
    __extends(Dog, _super);
 
    function Dog(name) {
      this.name = name;
      Dog.__super__.constructor.call(this, "canine", true);
      return;
    }
 
    Dog.prototype.toString = function() {
      return "" + this.name + " is a " + this.species + ".";
    };
 
    return Dog;
 
  })(Animal);
 
}).call(this);
 
Notice how the Coffeescript `class Animal` transcompiles to generated Javascript:
 
var Animal = (function() { 
 
    return function(){
        // Constructor function
    }
     
})();
		</code></pre>
	</section>
	<section>
		<h3>CoffeeScript</h3>
		<p>Can be used with already existing JavaScript libraries and frameworks i.e. you can use it with jQuery, AngularJS, Backbone.js</p>
		<p>CoffeeScript has large community, it is open-source. It can be debugged in Google Chrome and Firefox 23+ through source maps.</p>
	</section>
	<section>
		<h3>Source maps</h3>
		<p>
			<pre><code>
	f(y): File-We-Are-Not-Interested-In -> File-We-Are-Interested-In
			</code></pre>
			f is bijective function.
		</p>
	</section>
	<section>
		<h3>Source maps</h3>
		<p>In other words something which maps our generated code to the original. In our case object literal.</p>
		<pre><code>
{
    version : 3,
    file: "out.js",
    sourceRoot : "",
    sources: ["foo.js", "bar.js"],
    names: ["src", "maps", "are", "fun"],
    mappings: "AAgBC,SAAQ,CAAEA"
}
		</code></pre>
	</section>
	<section>
		<h3>JSX</h3>
		<blockquote cite="https://github.com/jsx/JSX/">
	JSX - a faster, safer, easier JavaScript.
		</blockquote>
	</section>
	<section>
		<h3>JSX</h3>
		<ul>
			<li>Statically typed (safer)</li>
			<li>Object-oriented (classical inheritance, so easier)</li>
			<li>Performs optimizations (faster)</li>
			<li>Source maps support</li>
			<li>Facebook's REACT is based on JSX</li>
			<li>Auto-completion in VIM</li>
		</ul>
	</section>
	<section>
		<pre><code>
import "js/web.jsx";

class Config {
	static const quantity = 360;
	static const size     = 2.0;
	static const decay    = 0.98;
	static const gravity  = 2.0;
	static const speed    = 6.0;

	static const canvasId = "night-sky";
	static const fpsElementId = "fps";
}


final class Spark {
	static const rad = Math.PI * 2;

	var posX : number;
	var posY : number;

	function constructor(posX : number, posY : number, size : number, color : string) {
		this.posX = posX;
		this.posY = posY;

	}

	function _move() : void {
		this.posX += this.velX + (Math.random() - 0.5);
		this.posY += this.velY + (Math.random() - 0.5) + Config.gravity;
	}

	function _render(view : FireworkView) : void {
		view.cx.beginPath();
		view.cx.arc(this.posX, this.posY, this.size, 0, Spark.rad, true);
		view.cx.fillStyle = Math.random() > 0.2 ? this.color : "white";
		view.cx.fill();
	}

}

final class FireworkView {
	var cx : CanvasRenderingContext2D;
	var width : int;
	var height : int;

	function constructor(canvas : HTMLCanvasElement) {
		this.cx = canvas.getContext("2d") as CanvasRenderingContext2D;

		this.width  = canvas.width;
		this.height = canvas.height;

		var rect = canvas.getBoundingClientRect();
		this.left = rect.left;
		this.top  = rect.top;
	}

}
		</code></pre>
	</section>
	<section>
		<h3>Dart</h3>
		<ul>
			<li>Allows statically typing</li>
			<li>Has Eclipse-based IDE</li>
			<li>Easier refectoring</li>
			<li>Better performance by JavaScript</li>
			<li>By Google</li>
			<li>Native support in special build of Chromium</li>
			<li>Source maps</li>
			<li>Port of AngularJS</li>
			<li>Awesome documentation</li>
		</ul>
	</section>
	<section>
		<pre><code>
Future _loadFromDB(Database db) {
  _db = db;

  var trans = db.transaction(MILESTONE_STORE, 'readonly');
  var store = trans.objectStore(MILESTONE_STORE);

  var cursors = store.openCursor(autoAdvance: true).asBroadcastStream();
  cursors.listen((cursor) {
    var milestone = new Milestone.fromRaw(cursor.key, cursor.value);
    milestones.add(milestone);
  });

  return cursors.length.then((_) {
    return milestones.length;
  });
}
		</code></pre>
	</section>
	<section>
		<h2>If you still prefer JavaScript...</h2>
	</section>
	<section>
		<h2>JSLint, JSHint</h2>
		<ul>
			<li>Tools for statical code analysis. Save you from common mistakes.</li>
			<li>JSLint is more strict (demo). Both can be configured to fit in the best way to your needs.</li>
			<li>Highly configurable, you can change almost each rule.</li>
			<li>Introduce common coding standards (especially JSLint).</li>
		</ul>
	</section>
	<section>
		<h3>Text editors and IDEs</h3>
		<ul>
			<li>Sublime Text</li>
			<li>WebStorm</li>
			<li>Brackets</li>
			<li>Vim</li>
		</ul>
	</section>
	<section>
		<h3>Sublime Text</h3>
		<ul>
			<li>Not free ($70 but unlimited evaluation period)</li>
			<li>Very extensible</li>
			<li>Very fast</li>
			<li>Customizable through JSON file</li>
			<li>Comfortable for coding</li>
			<li>Multiple cursors</li>
			<li>Zen Coding (with plugin)</li>
			<li>JSLint and JSHint plugins</li>
			<li>Quick find</li>
		</ul>
	</section>
	<section>
		<h3>WebStorm</h3>
		<ul>
			<li>Not free (€44 personal license, 30 days evaluation)</li>
			<li>IDE by JetBrains</li>
			<li>Automatically compile TypeScript</li>
			<li>Most feature complete</li>
			<li>Doesn't help with dynamically typed JavaScript</li>
		</ul>
	</section>
	<section>
		<h3>Brackets</h3>
		<ul>
			<li>Free and open source</li>
			<li>Quick find</li>
			<li>LiveReload (built in)</li>
			<li>Extensible</li>
			<li>Built with JavaScript, CSS, HTML</li>
			<li>Debugger (with extension)</li>
			<li>Pop-up styles, zen coding and more...</li>
		</ul>
	</section>
	<section>
		<h3>VIM</h3>
		<ul>
			<li>Free and open source</li>
			<li>Extensible</li>
			<li>Many extensions</li>
			<li>Can be used in the console</li>
			<li>Lightweight</li>
			<li>Long learning curve</li>
		</ul>
	</section>
	<section>
		<h2>Put your favourite editor/IDE here</h2>
		<p>JavaScript can be used with Eclipse, Visual Studio, Notepad++, TextMate, Emacs, Gedit, Notepad...</p>
	</section>
</section>