<section>
	<section>
		<h3>Performance</h3>
		<p>Your application's performance could be measured in three ways:</p>
		<ul>
			<li>Network performance (the most important one since the SPA revolution)</li>
			<li>Compute performance (the performance of your JavaScript)</li>
			<li>Render performance (frames per second)</li>
		</ul>
	</section>
	<section>
		<h3>Network performance</h3>
		<p>Network performance usualy is <i>almost</i> browser independent.</p>
		<p>For measuring performance we will use Chrome Dev Tools's network tab.</p>
	</section>
	<section>
		<h3>Measuring network performance</h3>
		<img src="images/chrome-dev-tools-network.png" alt="">
	</section>
	<section>
		<h3>What makes our application slow?</h3>
		<ul>
			<li>Opening new TCP connections (latency)</li>
			<li>HTTP requests (latency)</li>
			<li>File size (bandwidth)</li>
			<li>DNS lookups (latency)</li>
		</ul>
	</section>
	<section>
		<h3>Opening new TCP connections</h3>
		<p>HTTP 1.1 provides:</p>
		<pre><code>
	Connection: Keep-Alive
		</code></pre>
		<p>This way we can reuse TCP connections for few HTTP requests. This is especially useful for mobile applications where the latency if very high.</p>
		<p>Enable KeepAlive in httpd.conf (it is host level in .htaccess you can only set the Connection: Keep-Alive header).</p>
	</section>
	<section>
		<h3>HTTP requests</h3>
		<p>There are few common for most pages resources which cause HTTP requests:</p>
		<ul>
			<li>HTML files and templates</li>
			<li>JavaScript files</li>
			<li>CSS files</li>
			<li>Images</li>
		</ul>
	</section>
	<section>
		<h3>HTTP requests</h3>
		<p>You can put everything inline, this way you will make only one HTTP request for getting the whole page but you cannot take advantage of caching.</p>
		<p>Few ways for speeding up:</p>
		<ul>
			<li>Pre-fetching</li>
			<li>Concatenation of files</li>
			<li>Caching</li>
		</ul>
	</section>
	<section>
		<h3>JavaScript files</h3>
		<p>Good practice is to concatenate the JavaScript files and put them in the bottom. Another possible startegy is to load the files asynchronously on demand.</p>
		<p>Loading JavaScript files is usually blocking - the document won't be rendered before the JavaScript files are resolved.</p>
	</section>
	<section>
		<p>Making the scripts load asynchronously with (HTML5):</p>
		<pre><code>
	&lt;script src="//ajax.googleapis.com/ajax/libs/jquery/x.xx.x/jquery.min.js" async&gt;&lt;/script&gt;
		</code></pre>
		<p>...or IIFE:</p>
		<pre><code>
	(function () {
		var s = document.createElement('script');
	    s.type = "text/javascript";
	    s.src = "link.js";
	    document.body.appendChild(s);
	}());
		</code></pre>
	</section>
	<section>
		<h3>CSS files</h3>
		<p>CSS files should be also concatenated.</p>
		<p>Small CSS files can be inlined.</p>
	</section>
	<section>
		<h3>Images</h3>
		<p>Loading images can lead to many HTTP requests. With the latest HTTP specification there is no elegant way for workarounding this. The best option is creating sprites:</p>
		<img src="./images/facebook-sprite.png" alt="">
	</section>
	<section>
		<h3>Using sprites</h3>
		<p>Usually when using sprites you need to use the <code>background-position</code> and <code>background-size</code> CSS properties.</p>
		<pre><code>
	.star-icon {
		background-image: url(sprite.png);
		background-size: 50px 50px;
		backgroind-position: 200px 200px;
	}
		</code></pre>
	</section>
	<section>
		<h3>Reducing HTTP by inlining</h3>
		<p>HTTP requests can be reduced by inlining the resources. In JavaScript and CSS it is trivial, for inlining images you should use Base64 encoding (IE8+).</p>
	</section>
	<section>
		<h3>File size</h3>
		<p>The file size can be reduced with compression.</p>
		<ul>
			<li>For the JavaScript files could be used:
				<ul>
					<li>Google Closure Compiler</li>
					<li>UglifyJS</li>
					<li>YUI compressor</li>
					<li>JSMin</li>
				</ul>
			</li>
			<li>CSS minification</li>
			<li>HTML minification</li>
			<li>Images compression (usually lost of quality)</li>
		</ul>
	</section>
	<section>
		<h3>Gzip</h3>
		<p>Browsers are able to uncompress resources which are pointed as compressed by the web server. The compression can reduce your CSS files to up 70%!</p>
		<pre><code>
	Content-Encoding: gzip
		</code></pre>
		<p>You should also consider that the mobile devices has lower computing capacities.</p>
		<p>In Apache gzip can be enabled and processed with the module mod_deflate.</p>
	</section>
	<section>
		<h3>DNS lookup</h3>
		<p>You can't escape from the DNS lookups but you can make "pre-resolve".</p>
		<pre><code>
    &lt;link rel="dns-prefetch" href="//www.domain1.com"&gt;
		</code></pre>
		<p>Firefox 3.5+, Chrome, Safari 5+ and IE 9+.</p>
	</section>
	<section>
		<h3>Caching</h3>
		<p>You can use the browser's caching by taking advantage of the expires or cache-control (HTTP 1.1) headers (mod_expires in apache).</p>
		<p>Expires requires strict synchronization between the server and client's clocks</p>
		<p>Cache-Control uses max-age (relative amount of time)</p>
		<p><a href="https://www.mobify.com/blog/smartphone-localstorage-outperforms-browser-cache/">Smartphone Browser localStorage is up to 5x Faster than Native Cache (New Research)</a></p>
	</section>
	<section>
		<h3>Use CDNs</h3>
		<p>They will provide the users content near to them (lower latency) and will prevent the 6 threads per origin limitation.</p>
	</section>
	<section>
		<h3>Network performance profiling tools (demo)</h3>
		<ul>
			<li>PageSpeed</li>
			<li>YSlow</li>
			<li>phantomas</li>
		</ul>
	</section>
</section>