<section>
	<h3>Problems with JavaScript</h3>
	<ul>
		<li>Weird things (number, undefined, null)</li>
		<li>Dynamically and weakly typed</li>
		<li>Unusual OO model</li>
		<li>Mixture of multiple paradigms</li>
	</ul>
</section>