<section>
	<h3>Table of content</h3>
	<ul>
		<li>Problems with the JavaScript development</li>
		<li>JavaScript alternatives</li>
		<li>Text editors and IDEs</li>
		<li>Documentation</li>
		<li>Debugging</li>
		<li>Profiling</li>
		<li>Building</li>
		<li>Bootstrapping</li>
	</ul>
</section>