<section>
	<section>
		<h2>Yeoman</h2>
		<p>Sometimes there are plenty of common tasks we have to do in order to bootstrap our project.</p>
		<ul>
			<li>Create project structure (directories, index file, scripts files...)</li>
			<li>Download all required libraries</li>
			<li>Setup SASS, Less...</li>
			<li>Connect all together</li>
		</ul>
	</section>
	<section>
		<h2>Yeoman</h2>
		<p>Yeoman use different templates which are install as Node.js modules. These templates bootstrap our project.</p>
		<p>There are many generators which are already available:</p>
		<ul>
			<li>Backbone.js</li>
			<li>AngularJS</li>
			<li>Ember.js</li>
			<li>Web application</li>
			<li>...</li>
		</ul>
		<p>Even this presentation is bootstrapped with Yeoman.</p>
	</section>
	<section>
		<h2>Yeoman example</h2>
		<pre><code>
	#install yeoman
	npm install -g yeoman

	#install generator for AngularJS
	npm install -g generator-angular

	#create AngularJS application
	yo angular
		</code></pre>

	</section>

	<section>
		<h2>Yeoman</h2>
		<ul>
			<li>Creates your project structure</li>
			<li>Creates (almost) all Grunt tasks you might need</li>
			<li>Generates <code>bower.json</code> with all dependencies you may need</li>
		</ul>
	</section>

	<section>
		<h1>Yeoman Demo</h1>
	</section>
</section>