.at-view-fade-in, .at-view-fade-out {
    transition-property: opacity;
    transition-duration: 0.5s;
    position: absolute;
    top: 0px;
    left: 0px;
}

.at-view-fade-in {
  opacity: 0;
}

.at-view-fade-in-active {
    opacity: 1;
}

.at-view-fade-out {
  opacity: 1;
}

.at-view-fade-out-active {
    opacity: 0;
}