.at-view-fade-out.ng-leave {
    transition-property: opacity;
    transition-duration: 0.5s;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
}

.at-view-fade-out.ng-leave-active {
    opacity: 0;
}

.at-view-scale-in.ng-enter {
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
    opacity: 0;
}

.at-view-scale-in.ng-enter-active {
    transform: scale(1, 1);
    opacity: 1;
}